* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #222;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
